.events {
    background-color: #fefefe;
    margin-top: -1%;
    padding-bottom: 1%;
/*     min-height: 100vh; */
    margin-left: 15%;
    margin-right: 15%;
}

.events h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'logofont';
    color: #ffffff;
    font-size: 600%;
    margin-top: 1%;
    margin-bottom: 2%;
    letter-spacing: 12px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; 
    font-weight: 100;
}

.events h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'logofont';
    font-size: 200%;
    font-weight: 100;
    line-height: 1.5;
    padding-top: 1%;
    padding-bottom: 1%;
}

.events form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'logofont';
    font-size: 200%;    
}

.events p {
    margin-right: 1%;
    font-family: 'logofont';
    font-size: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.events label {
    margin: 2%;
}

.events input {
    width: 30%;
}

.events button {
    margin: 1%;
}

.email-sent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'logofont';
    font-size: 200%; 
    margin-top: 1%; 
}

.flyer-header {

    color: #f6d20c;
    letter-spacing: 4px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; 
}

.flyer {
    width: 100%; 
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
}