.footer {
/*     padding-bottom: 1%; */
    background-color: #fefefe;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2%; 
    margin-top: -1%;
   /*  margin-bottom: -1%; */
    /* padding-bottom: 2%;  */
}

.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.links-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 2% 5%;
}

.links-container a {
    height: 10%; 
    width: 10%; 
}

.links-container img {
    height: 80%; 
    width: 80%; 
    margin: 10%;
}

.footer p {
    /* font-size: 300%; */
    /*font-size: clamp(100%, 4vw, 300%);*/
    font-size: calc(3vw);
    letter-spacing: 4px;
    font-weight: 100;
    margin-top: 1%;  
    margin-bottom: 1%; 
    line-height: 1; 
    font-family: 'logofont';
    color: #f6d20c;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

