.image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gallery-images {
    max-width: 100%;
    max-height: 600px;
    padding: 2% 2% 2% 2%;
    
  }

 .gallery-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2%;

 } 

.gallery-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    padding-left: 15%;
    padding-right: 15%;
  }

 .gallery-buttons img {
    max-width: 100%;
 } 
  .gallery-buttons p {
    margin: 0;
    line-height: 1;
    font-size: 100%;
  }