.media {
    background-color: #fefefe;
    margin-top: -1%;
/*     min-height: 100vh; */
    margin-left: 15%;
    margin-right: 15%;
}

.media h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'logofont';
    color: #ffffff;
    font-family: 'logofont';
    font-size: 600%;
    margin-top: 1%;
    letter-spacing: 12px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; 
    font-weight: 100;
    margin-bottom: 1%;
}

.band-cover {
    width: 100%;
}

.media-container {
    /* padding-left: 5%;
    padding-right: 5%; */
}


.youtube {
    display: flex; 
    align-items: center;
    justify-content: center; 
}

.media h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'logofont';
    font-size: 250%;
    font-weight: 100;
    line-height: 1.5;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #f6d20c;
    letter-spacing: 6px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000; 
}

.media p {
    margin-right: 1%;
    font-family: 'logofont';
    font-size: 90%;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
}

.youtube {
    position: relative;
    width: 100%;
  }
  
  .youtube iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
  }

  .spotify-container {
    display: flex;
    justify-content: center;    
    padding: 3% 0% 3% 0%;
  }

