@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/*
========================================
Fonts
========================================
*/
@font-face {
    font-family: 'logofont'; /* You can choose any name you want for the font-family */
    font-style: normal;
    font-weight: 400; /* Choose the appropriate font-weight (e.g., 400, 700, etc.) */
    src: url('../assets/fonts/logofont.otf') format('opentype');
  }

  @font-face {
    font-family: 'punkboy'; /* You can choose any name you want for the font-family */
    font-style: normal;
    font-weight: 400; /* Choose the appropriate font-weight (e.g., 400, 700, etc.) */
    src: url('../assets/fonts/punkboy_tbs.ttf') format('truetype');
  }

  @font-face {
    font-family: '8-bit'; /* You can choose any name you want for the font-family */
    font-style: normal;
    font-weight: 400; /* Choose the appropriate font-weight (e.g., 400, 700, etc.) */
    src: url('../assets/fonts/PressStart2P-vaV7.ttf') format('truetype');
  }
/*
========================================
Global
========================================
*/
html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font-family: verdana, arial, sans-serif, helvetica;
    /* background-color: #e5e5e5; */
    /* background-color: #615e5e; */
    background-color: #e5e5e5;
/*     font-size: 8pt; */
    margin: 0;
  }
  
  a {
    font-weight: bold;
    text-decoration: none;
  }
  
  a:link {
    color: #003399;
  }
  
  a:visited {
    color: #003399;
  }
  
  a:hover {
    text-decoration: underline;
    color: #cc0000;
  }
  
  h2 {
    font-size: 9pt;
    margin: 0;
    font-weight: bold;
  }
  
  p {
    line-height: 2.5;
    font-size: 12pt; 
    /* font-family: '8-bit'; */
  }
  
  /*
  ========================================
  Master Container
  ========================================
  */
  .master-container {
    /* margin: auto; 
    margin-right: 25%;
    margin-left: 25%;
    width: 800px; 
    background-color: white;  */

  }
 
 /*  @media screen and (min-width: 1200px) {
    .master-container {
      margin-right: 20%;
      margin-left: 20%;
    }
  } 

  @media screen and (min-width: 1600px) {
    .master-container {
      margin-right: 25%;
      margin-left: 25%;
    }
  }  */
  
  /*
  ========================================
  Page Content Container
  ========================================
  */
  .page-content-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-column-gap: 2%;
    grid-template-areas: "sidebar main";
    /* background-color: #f6e9ac;  */
    /* background-color: #cccccc; */
    background-color: #fefefe;
    margin-bottom: 2%;
    padding-top: 1%;
    margin-bottom: 1%;
    margin-left: 15%;
    margin-right: 15%;
/*     padding-left: 3%;
    padding-right: 5%; */

  }

  /* @media screen and (max-width: 1366px) {
    .page-content-container {
      grid-template-columns: 100%; 
      grid-template-areas:
        "sidebar"
        "main"; 
        margin-right: 10%;
      margin-left: 10%;
      margin-bottom: 1%;
    }
    main {
      margin-left: 5%;
    }
    p, tr {
      font-size: 11pt;
    }
  } */
  
  /*
  ========================================
  Profile Sidebar Column
  ========================================
  */
  
  .profile-sidebar {
    grid-area: sidebar;
    margin-left: 10%; 
  }

/*   @media screen and (max-width: 1200px) {
    .profile-sidebar {
      display: flex;
      margin-left: 7%;
    }

    .about-column-left {
      margin-top: 4%;
    }

    .about-column-right {
      margin-left: 5%; 
      margin-top: 5%;
    }
  }
 */
  .profile-sidebar {
    grid-template-columns: 1fr; 
  }
 
  main {
    margin-right: 5%;
  } 
  
  h1 {
    font-size: 12.25pt;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 0px;
  }

  .page-title {
    font-family: 'logofont';
    margin: 0px;
    font-size: 600%;
    letter-spacing: 4px;
    font-weight: 100;
  }
  
  .profile-sidebar ul {
    list-style-type: none;
/*     padding: 0;
     margin: 0; */
  }
  
  /*
  ========================================
  Profile Picture Container
  ========================================
  */

  .friend-picture-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px; 
    margin-bottom: 12px;
  }
  
  .friend-pic {
    width: 100%;
    height: auto; 
  }
  
  .friend-picture-container {
    list-style: none; 
    padding: 1%;
 /*    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%; */
  }
  
  .friend-picture-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .friend-picture-container h3 {
    margin: 5px 0;
    font-size: 80%;
    /* font-family: '8-bit'; */
  }

  .profile-picture-container {
 /*    display: grid;
    grid-template-columns: 60% 40%; */
/*     grid-template-columns: 170px 115px;
    grid-template-rows: 176px; */
    grid-column-gap: 3%;
    margin-bottom: 2%;
  }
  
  .profile-picture-container p {
    margin: 0;
  }

  .profile-picture-container li {
    /* font-family: '8-bit'; */
    /* font-size: 75%; */
    line-height: 1.5;
  }
  
  .profile-details-container {
    display: flex; 
  }

  .profile-pic {
/*     grid-area: 1/1; */
    width: 100%;
    height: 100%; 
    max-width: 400px;
    max-height: 400px; 
  }
  
  .personal-msg {
/*     grid-area: 1/2; */
    margin: 0;
    padding: 0;
  }
  
  .gender-age {
/*     grid-area: 1/2; */
 /*    font-size: 12pt; */
 padding: 0;
  }
  
/*   .gender-age li:first-child {
    margin-top: 28px;
  } */


  .last-login {
    padding-left: 5%;
/*     grid-area: 1/2; */
/*     align-self: end; */
/*     font-size: 12pt; */

  }
  
 /*  .last-login li:last-child {
    margin-bottom: 15px;
  } */
  
  .pics-videos {
    /* grid-area: 1/1; */
    /* justify-self: center; */
    align-self: end;
    display: flex;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 2%;
  }

/*   .pics-videos li {
    padding-top: 3%;
  } */

/*   .pics-videos {
    font-size: 9pt;
  } */

  .pics-videos li:before {
    content: none;
  }

  .pics-videos li { 
    margin-left: 5px;
    /* margin-top: 3px; */
  }
 
  /*
  ========================================
  Contact Box
  ========================================
  */
  .contact-box {
    border: 2px solid #64a4f2;
/*     height: 120px;
    width: 300px; */
  /*   margin-bottom: 24px; */
  margin-bottom: 7%;
  }
  
  .contact-box h2 {
    color: white;
    background-color: #64a4f2;
    height: 17px;
    padding-left: 10px;
    padding-top: 0.9%;
/*     font-family: '8-bit';
    font-size: 85%; */
  }
  
  .contact-images {
/*     display: grid;
    grid-template-columns: 150px 150px; */
    margin: 0;
    margin-top: 5px;
    margin-left: 10px;
  }
  
  /*
  ========================================
  BandSpace URL
  ========================================
  */
  .bandspace-url-box-main {
/*     width: 300px; */
    border: 1px solid #000000;
    margin-bottom: 7%;
  }

  .bandspace-url-box-main h3,
  .bandspace-url-box-main p {
    margin: 0;
    padding: 0;
  }
  
  .bandspace-url-box-main h3 {
    font-size: 8pt;
    /* font-family: '8-bit'; */
    padding-left: 2%;
    padding-top: 2%;
  }
  
  .bandspace-url-box-main p {
    padding-left: 6px;
  }

  .bandspace-url-box {
    border: 1px solid #000000;
    /* height: 26px; */
    /* width: 300px; */
    margin-bottom: 24px;
  }
  
  .bandspace-url-box h3,
  .bandspace-url-box p {
    margin: 0;
    padding: 0;
  }
  
  .bandspace-url-box h3 {
    font-size: 8pt;
    /* font-family: '8-bit'; */
    padding-left: 2%;
    padding-top: 2%;
  }
  
  .bandspace-url-box p {
    padding-left: 6px;
    ;
  }
  
  /*
  ========================================
  Sidebar Table Class
  ========================================
  */
  .sidebar-table {
    border: 2px solid #64a4f2;
    display: table;
    border-collapse: separate;
    border-spacing: 3px;
  }
  
  .sidebar-table-h2 {
    background-color: #64a4f2;
    color: white;
    text-align: left;
    height: 17px;
    padding-left: 15px;
    padding-top: 1%;
    /* font-family: '8-bit'; */
    /* font-size: 85%; */
  }
  
  .sidebar-table-header {
    vertical-align: top;
    text-align: left;
    /* width: 107px; */
    background-color: #64a4f2;
    color: #000000;
    padding: 3px;
    font-weight: bold;
    font-size: 12pt;
    /* font-family: '8-bit'; */
  }
  
  .sidebar-table-data {
/*     width: 184px; */
    background-color: #dee9fd;
    padding: 3px;
    /* font-family: '8-bit'; */
  }

  .sidebar-table tbody {
    font-size: 12pt; 
  }
  
  /*
  ========================================
  Interests
  ========================================
  */
  .interests p {
    margin-top: 0;
    line-height: 1.5;
  }
  
  .interests p:only-child,
  .interests p:last-child {
    margin-bottom: 0;
  }
  
  .interests table {
    margin-bottom: 7%;
  }
  
  /*
  ========================================
  Details
  ========================================
  */
  .details table {
    margin-bottom: 7%;
    width: 100%;
/*     width: 305px; */
  }
  
  /*
  ========================================
  Schools
  ========================================
  */
  .schools .sidebar-table-header {
/*     width: 228px; */
    color: black;
    font-weight: normal;
  }
  
  .schools .sidebar-table-data {
/*     width: 63px; */
    text-align: center;
    vertical-align: top;
  }
  
  .schools ul {
    margin-bottom: 2em;
  }
  
  /*
  ========================================
  Main Column
  ========================================
  */
  main {
    grid-area: main;
  }
  
  /*
  ========================================
  User Network
  ========================================
  */
  .user-network {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 433px; */
    margin: auto;
    height: 75px;
    /* border: 2px solid black; */
    border: 2px solid #000000; 
    margin-top: 13px;
  }
  
  .user-network h2 {
    font-size: 12pt;
  }
  
  /*
  ========================================
  Blog
  ========================================
  */
  .blog {
/*     display: grid; */
 /*    grid-auto-rows: 29px; */
    flex-direction: column;
    margin-top: 5%;
    margin-left: 5%;
/*     margin-top: 13px;
    margin-left: 12px;
    margin-bottom: 16px; */
  }
  
  .blog p {
    margin-top: 3px;
    font-size: 100%;
    line-height: 1.5;
  }
  
  /*
  ========================================
  Blurbs
  ========================================
  */
  .main-section-header {
    background-color: #64a4f2;
    /* padding-top: 3px; */
    padding-bottom: 3px;
    margin-bottom: 8px;
  }
  
  .main-section-h2 {
    color: #000000;
    margin-left: 20px;
    /* font-family: '8-bit'; */
/*     font-size: 90%; */
    padding-top: 0.9%;
  }

  .blurbs {
    margin-top: 4%;
 }
  
  .blurbs h3 {
    margin: 0;
    color: #000000;
    font-size: 9pt;
    margin-left: 15px;
  }
  
  .blurbs p:nth-of-type(5) {
    margin-bottom: 2em;
  }
  
  .blurbs p {
    margin: 0 10px 15px 15px;
  }
  
  .info {
    color: green;
    font-weight: bold;
  }
  
  /*
  ========================================
  Friend Space
  ========================================
  */
  .friends {
    margin-top: 4%;
 }

  .friends header {
    margin-bottom: 6px;
  }
  
  .friends p:nth-of-type(1) {
    margin-top: 0;
    margin-left: 15px;
  }
  
  .focus-highlight {
    color: #cc0000;
    font-weight: normal;
    font-size: 10pt;
  }
  
  .friend-pic-container {
    display: grid;
    grid-template-columns: repeat(4, 109px);
    grid-template-rows: 160px 193px;
  }
  
  .friend-pic-container figure {
    margin: 0;
  }
  
  .friend-pic-container figcaption {
    text-align: center;
  }
  
  .friend-pic-container img {
    display: block;
    margin: auto;
  }
  
  .friends-list-link {
    display: flex;
    justify-content: flex-end;
  }
  
  .friends-list-link {
    margin-top: 7px;
    margin-right: 8px;
    margin-bottom: 30px;
  }
  
  .friends-list-link a {
    color: #cc0000;
  }
  
  /*
  ========================================
  Comment Wall
  ========================================
  */
  .comment-wall .main-section-header {
    margin-bottom: 3px;
  }
  
  .comment-wall .main-section-h2 {
    margin-bottom: 0;
  }
  
  #comment-counter {
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 3px;
  }
  
  .comment-wall table {
    margin: auto;
    margin-bottom: 5px;
  }
  
  .comment-wall th {
    background-color: rgb(255, 153, 51);
    width: 158px;
    padding: 3px;
    vertical-align: top;
  }
  
  .comment-wall td {
    vertical-align: top;
    background-color: rgb(249, 214, 180);
    width: 269px;
    padding: 3px;
  }
  
  .comment-wall figcaption,
  .comment-wall figure {
    margin: 0;
  }
  
  .comment-wall figcaption {
    margin-bottom: 1em;
  }
  
  .comment-wall figure {
    margin-bottom: 49.33px;
  }
  
  .comment-wall h3 {
    font-size: 10pt;
    margin: 0;
    margin-bottom: 1em;
  }
  
  .comment-wall p {
    font-weight: normal;
    text-align: left;
    margin: 0;
    margin: 0 10px 15px 15px;
  }

  #add-comment {
    text-align: right;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .comments { 
    margin-left: 4%;
  }
  
  /*
  ========================================
  Footer
  ========================================
  */
  footer {
    display: grid;
    grid-template-rows: 16px 39px;
    background-color: #e5e5e5;
    padding-top: 10px;
    height: 65px;
  }
  
  footer a {
    text-decoration: underline;
    font-weight: normal;
    font-size: 8pt;
  }
  
  footer ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  footer li:after {
    content: ' | ';
    font-weight: normal;
  }
  
  #last:after {
    content: none;
  }
  
  footer small {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    font-size: 8pt;
    font-weight: normal;
  }